<h1>About</h1>
<p>KA Productions is an online business offering license-free music. Our relaxation music is suitable for meditation, healing and psychotherapeutic sessions. Being license-free means that you only have to make a one-time payment and then have unlimited rights to use the purchased tracks for private or commercial purposes.</p>
