<h1>Welcome to KA Productions!</h1>
<h2>Your source for relaxation and meditation music.</h2>
<%= link_to image_tag("Piano_music_1.jpeg", class: "img-fluid"), simple_pages_landing_page_path %>
<%= audio_tag("Nature_KA.mp3", controls: true) %>