<h1>Welcome to KA Productions!</h1>
<h2>Your source for relaxation and meditation music.</h2>
<%= image_tag "Piano_music_1.jpeg", class: "img-responsive" %>
<%= audio_tag "/public/Nature_KA.mp3", controls: true %>