<table>
  <tbody>
    <tr>
      <td><h2>Thank you for your order!</h2></td>
    </tr>
    <tr>
      <td><p>We hope you enjoy your purchase!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>